@model WebApplication3.Models.OrderSearchArg
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/IndexKendo.js"></script>
</head>
<body>
    @using (Html.BeginForm("Index", "Order", FormMethod.Post, new { id = "Form" }))
    {
        <div>
            <div>
                <table class="table table-striped">
                    <tr>
                        <td>訂單編號</td>
                        <td><input type="text" id="OrderID" name="OrderID" class="k-textbox" /></td>
                    </tr>
                    <tr>
                        <td>顧客名稱</td>
                        <td><input type="text" id="CompanyName" name="CompanyName" class="k-textbox" /></td>
                    </tr>
                    <tr>
                        <td>負責員工</td>
                        <td><input id="EmployeeID" name="EmployeeID" /></td>
                    </tr>
                    <tr>
                        <td>出貨公司</td>
                        <td><input id="ShipperID" name="ShipperID" /></td>
                    </tr>
                    <tr>
                        <td>訂購日期</td>
                        <td><input id="OrderDate" name="OrderDate" /></td>
                    </tr>
                    <tr>
                        <td>出貨日期</td>
                        <td><input id="ShippedDate" name="ShippedDate" /></td>
                    </tr>
                    <tr>
                        <td>需要日期</td>
                        <td><input id="RequireDdate" name="RequireDdate"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="button" id="SearchBtn">查詢</button><input type="reset" value="清除" id="ResetBtn" /><button type="button" id="InsertBtn">新增訂單</button></td>
                    </tr>
                </table>
            </div>

            <div id="grid">

            </div>

        </div>

    }



</body>
</html>
