@model WebApplication3.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/InsertKendo.js"></script>
    <link href="~/Content/OrderCSS.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("DoInsertOrder", "Order", FormMethod.Post, new { id = "Form" }))
    {

        <div>
            <h2>新增訂單</h2>
            <table class="table table-striped">
                <tr>
                    <td><span class="require">*</span>客戶名稱</td>
                    <td colspan="3"><input id="CustomerID" name="CustomerID" required data-required-msg="請選擇客戶名稱" /></td>

                </tr>
                <tr>
                    <td><span class="require">*</span>負責員工名稱</td>
                    <td colspan="3"><input id="EmployeeID" name="EmployeeID" required data-required-msg="請選擇員工名稱" /></td>

                </tr>
                <tr>
                    <td><span class="require">*</span>訂購日期</td>
                    <td><input id="OrderDate" name="OrderDate" data-type="date" required="required"/></td>
                    <td><span class="require">*</span>需要日期</td>
                    <td><input id="RequireDdate" name="RequireDdate" data-type="date" required="required" data-greaterdate-field="OrderDate" data-greaterdate-msg="需要日期需在訂購日期之後" /></td>
                </tr>
                <tr>
                    <td><span class="require">*</span>出貨日期</td>
                    <td colspan="3"><input id="ShippedDate" name="ShippedDate" data-type="date" required="required" data-greaterdate-field="OrderDate" data-greaterdate-msg="出貨日期需在訂購日期之後"/></td>
                </tr>
                <tr>
                    <td><span class="require">*</span>出貨公司名稱</td>
                    <td colspan="3"><input id="ShipperID" name="ShipperID" required="required"  /></td>
                </tr>
                <tr>
                    <td>運費</td>
                    <td colspan="3"><input type="text" id="Freight" name="Freight" class="k-textbox" /></td>
                </tr>
                <tr>
                    <td>出貨國家</td>
                    <td><input type="text" id="ShipCountry" name="ShipCountry" class="k-textbox" /></td>
                    <td>出貨城市</td>
                    <td><input type="text" id="ShipCity" name="ShipCity" class="k-textbox" /></td>
                </tr>
                <tr>
                    <td>出貨地區</td>
                    <td><input type="text" id="ShipRegion" name="ShipRegion" class="k-textbox" /></td>
                    <td>郵遞區號</td>
                    <td><input type="text" id="ShipPostalCode" name="ShipPostalCode" class="k-textbox" /></td>
                </tr>
                <tr>
                    <td>出貨地址</td>
                    <td><input type="text" id="ShipAddress" name="ShipAddress" class="k-textbox" /></td>
                    <td>出貨說明</td>
                    <td><input type="text" id="ShipName" name="ShipName" class="k-textbox" /></td>
                </tr>
                <tr>
                    <td>訂單金額總計</td>
                    <td id="sum" colspan="3" style="text-align:right"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3"><button type="button" id="InsertBtn">存檔</button><button type="button" id="BackBtn">回前一頁</button></td>
                </tr>
            </table>

        </div>

        <h2>訂單明細</h2>
        <div>
            <button type="button" id="addNewDetial">新增一筆</button>
            <table class="table table-striped">
                <tr>
                    <td>商品</td>
                    <td>單價</td>
                    <td>數量</td>
                    <td>小計</td>
                    <td></td>
                </tr>
                <tbody id="tbContent">
                    <tr>
                        <td><input itype="ProductID" name="ProductID" required data-required-msg="請選擇商品" /></td>
                        <td><input type="text" itype="UnitPrice" name="UnitPrice" class="k-textbox" required data-required-msg="請輸入價格" /></td>
                        <td><input itype="Qty" name="Qty" type="text" min="1" value="1" data-decimals="0" required data-required-msg="請輸入數量" /></td>
                        <td class="subtotal"></td>
                        <td><button type="button" class="btnRemove">取消</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }


</body>
</html>
